<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>{{ block "page_title" . }}Codespace Boilerplate{{ end }}</title>
<meta name="description" content="{{ block "page_description" . }}A simple boilerplate project to kickstart your project{{ end }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ $style := resources.Get "sass/design.scss" | toCSS | minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
<link rel="shortcut icon" href="{{ "images/favicon.png" | relURL }}">
</head>

<body id="page-{{ block "page_id" . }}home{{ end }}">

<div class="container">
  {{ block "content" . }}{{ end }}
</div><!--/container-->
<footer></footer>

</body>

</html>
